<h1>Listing posts</h1>
<body class="hero-unit">
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post , :class => "btn btn-info" %></td>
    <td><%= link_to 'Edit', edit_post_path(post), :class => "btn btn-success" %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path, :class => "btn btn-primary" %>
</body>
